
#messagesList {
  font-size: 1.25rem;
  margin:    0;
  @extend .no-select;
  position:  absolute;
  left:      1rem;
  bottom:    $itemWidthHeightRem + 1.5rem;
  width:     0;
  overflow:  visible;
  z-index:   1;

  div.message {
    margin:           0.25rem 0;
    border-radius:    $button-radius;
    background-color: $uiBgColor;
    padding:          0.25rem 0.5rem;
    display:          block;
    float:            left;
    width:            max-content;
    max-width:        20rem;
    overflow:         hidden;
    word-break:       break-word;

    &.commandSuccess, .commandSuccess {
      color: color('green', 'accent-1');
    }

    &.commandError, .commandError {
      color: color('red', 'accent-1');
    }

    ul {
      margin: 0;
    }

    code {
      user-select: text;
      display:     inline-block;
    }
  }
}

#messageInputContainer {
  $topBottomPaddingRem: 0.25rem;
  border-radius:        $button-radius;
  background-color:     $uiBgColor;
  padding:              $topBottomPaddingRem 0.75rem;
  height:               $itemWidthHeightRem;
  position:             absolute;
  left:                 1rem;
  bottom:               1rem;
  width:                25%;
  max-width:            20rem;
  z-index:              1;

  #messageInput {
    border-bottom: none !important; // Disable underline.
    box-shadow:    none !important;
    font-size:     1.25rem;
    margin:        0;
    color:         white;
    height:        $itemWidthHeightRem - $topBottomPaddingRem * 2;
  }
}
