
#hotbarContainer {
  position:       absolute;
  bottom:         0;
  left:           50%;
  transform:      translateX(-50%);
  white-space:    nowrap;
  padding-bottom: 0.75rem;
  border:         1.5rem solid transparent;
  border-image:   33% fill url(../assets/ui/panel_woodPaperDetail.png);
  border-bottom:  0;

  #hotbarItems {

    .itemSlot {
      margin-top:    0;
      margin-bottom: 0;

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.itemSlot, .enchantingTableButtonSlot {
  width:            $itemWidthHeightRem;
  height:           $itemWidthHeightRem;
  display:          inline-block;
  vertical-align:   middle;
  background-color: $uiBgColor;
  background-size:  contain;
  border-radius:    $button-radius;
  margin:           $itemMarginRem;
  position:         relative;
  @extend .no-select;
  $borderColor:     color('grey', 'lighten-1');
  $borderWidthPx:   2px;

  .enchantingTableButton {
    background:        url(/public/assets/items/enchanting_table.png);
    background-size:   contain;
    -webkit-user-drag: none;
    @extend .no-select;
  }

  .progress {
    margin:   0;
    position: absolute;
    bottom:   0;
  }

  //&.selectedItem {
  //  background-color: transparent;
  //  background-image: url(../assets/ui/panel_woodPaperDetail.png) !important;
  //}

  &.selectedItem {
    // Doesn't work with dragging selected item, but looks nice:
    //transform:  scale(1.25);
    //transition: .1s ease-in-out;
    border: $borderColor solid $borderWidthPx;

    .item {
      padding: calc(#{$itemPaddingRem} - #{$borderWidthPx});

      span.itemCount {
        bottom: -10px + $borderWidthPx;
        right:  $borderWidthPx;
      }
    }
  }

  &#pauseGameBtn, #minimapLayerBtns &.minimapLayerBtn {
    background-color: transparent;
    background-image: url(../assets/ui/panel_woodWear_blank.png);
  }

  &.disabled, .allDisabled & {
    background-color: $uiBgColor !important;
    // noinspection CssInvalidPropertyValue,CssOverwrittenProperties
    filter:           gray; /* IE6-9 */
    -webkit-filter:   grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
    // noinspection CssOverwrittenProperties
    filter:           grayscale(1); /* Microsoft Edge and Firefox 35+ */

    &:hover {
      -webkit-filter: grayscale(0);
      filter:         none;
    }

    .item {
      cursor: default;
    }
  }

  &.highlighted:not(.disabled), &:hover:not(.disabled) {
    background-color: color('deep-purple', 'darken-1');
  }

  &.dragOver {
    border: $borderColor dashed $borderWidthPx;

    .item {
      padding: calc(#{$itemPaddingRem} - #{$borderWidthPx});

      span.itemCount {
        bottom: -10px + $borderWidthPx;
        right:  $borderWidthPx;
      }
    }
  }

  span.hotbarShortcutLetter {
    position:    absolute;
    top:         0;
    right:       0;
    left:        0;
    text-align:  center;
    font-size:   10px;
    line-height: 10px;
    color:       color('grey', 'base');
  }

  .itemRow[data-item-row-type="crafting"] & {
    background-size:  29px;
    background-image: url(../assets/ui/pattern_blueprint.png);
  }

  @mixin itemBackground($itemRowType, $index, $src) {
    .itemRow[#{$itemRowType}] &:nth-child(#{$index})::after {
      background-image:    url($src);
      background-size:     30px;
      filter:              contrast(0%) brightness(50%);
      content:             " ";
      background-position: center;
      background-repeat:   no-repeat;
      width:               100%;
      height:              100%;
      position:            absolute;
      left:                0;
    }
  }

  @include itemBackground('data-is-enchanting-table="1"', 2, "../assets/items/pick_bronze.png");
  @include itemBackground('data-is-enchanting-table="1"', 3, "../assets/items/ore_silver.png");
  @include itemBackground('data-is-enchanting-table="1"', 4, "../assets/items/book.png");
  @include itemBackground('data-item-row-type="hotbar"', 1, "../assets/items/sword_bronze.png");
  @include itemBackground('data-item-row-type="hotbar"', 2, "../assets/items/pick_bronze.png");
  @include itemBackground('data-item-row-type="hotbar"', 3, "../assets/items/hoe_bronze.png");
  @include itemBackground('data-item-row-type="hotbar"', 4, "../assets/items/axe_bronze.png");
  @include itemBackground('data-item-row-type="hotbar"', 8, "../assets/items/apple.png");
  @include itemBackground('data-item-row-type="hotbar"', 9, "../assets/items/torch.png");
  @include itemBackground('data-item-row-type="accessories"', 1, "../assets/items/iron_helmet.png");
  @include itemBackground('data-item-row-type="accessories"', 2, "../assets/items/iron_chestplate.png");
  @include itemBackground('data-item-row-type="accessories"', 3, "../assets/items/iron_leggings.png");
  @include itemBackground('data-item-row-type="accessories"', 4, "../assets/items/iron_boots.png");
  @include itemBackground('data-item-row-type="accessories"', 5, "../assets/items/shield.png");
  @include itemBackground('data-item-row-type="accessories"', 6, "../assets/items/chain_ruby.png");
  @include itemBackground('data-item-row-type="accessories"', 7, "../assets/items/ring_copper.png");
  @include itemBackground('data-item-row-type="accessories"', 8, "../assets/items/ring_copper.png");
  @include itemBackground('data-item-row-type="accessories"', 9, "../assets/items/ring_copper.png");
}

.item {
  width:       $itemWidthHeightRem;
  height:      $itemWidthHeightRem;
  padding:     $itemPaddingRem;
  display:     inline-block;
  position:    relative;
  text-align:  left;
  overflow:    hidden;
  white-space: nowrap;

  &.dragItem {
    transform: scale(1.5);
  }

  .itemImg {
    -webkit-user-drag: none;
    width:             $itemWidthHeightRem - ($itemPaddingRem * 2);
    height:            $itemWidthHeightRem - ($itemPaddingRem * 2);
    position:          relative;
    z-index:           1;
    @extend .no-select;

    &.enchantedItem {
      -webkit-animation: enchantedItemGlow 2.5s ease-in-out infinite alternate;
      animation:         enchantedItemGlow 2.5s ease-in-out infinite alternate;

      @-webkit-keyframes enchantedItemGlow {
        // @formatter:off
        0%   { -webkit-filter: drop-shadow(0px 0px 0px $secondary-color) brightness(1) saturate(1);    }
        50%  { -webkit-filter: drop-shadow(0px 0px 5px $secondary-color) brightness(2) saturate(1.25); }
        100% { -webkit-filter: drop-shadow(0px 0px 0px $secondary-color) brightness(1) saturate(1);    }
        // @formatter:on
      }

    }
  }

  span.itemCount {
    position: absolute;
    @extend .no-select;
  }

  span.itemCount {
    bottom:    -10px;
    right:     0;
    font-size: 10px;
    color:     white;
  }

  .craftingProgressIndicator {
    position:         absolute;
    background-color: color('deep-purple', 'darken-1');
    left:             0;
    bottom:           0;
    right:            0;
    z-index:          0;
    border-radius:    $button-radius;
  }
}

.itemTooltipImg {
  width:          1rem;
  height:         1rem;
  vertical-align: middle;
}
