
#leaderboardContainer {
  position:     absolute;
  top:          1rem;
  right:        1rem;
  width:        $leaderboardWidthRem;
  color:        white;
  border:       1rem solid transparent;
  border-image: 33% fill url(../assets/ui/panel_woodDetail_grey.png);
  padding:      0 0.5rem;
  display:      none;
  @extend .no-select;

  #leaderboardTable {
    font-size: 1.25rem;
    color:     white;

    tr {
      border-bottom: none;

      td, th {
        padding: 0.5rem 0;

        b {
          font-size:   1.5rem;
          font-weight: normal;
        }

        &:nth-child(1) {
          width: 2rem;
        }

        &:nth-child(2) {
          @include ellipsis;
        }

        &:nth-child(3) {
          width:      4rem;
          text-align: right;
        }
      }
    }
  }
}
