$worldWidth:         200;
$worldHeight:        200;
$bigMinimapWidthPx:  800px;
$bigMinimapHeightPx: 800px;

#minimapDiv {
  position:     absolute;
  top:          1rem;
  left:         1rem;
  width:        $minimapWidthHeightPx;
  height:       $minimapWidthHeightPx;
  border:       1rem solid transparent;
  border-image: 33% fill url(../assets/ui/panel_woodDetail_grey.png);
}

#minimapLayerBtns {
  position: absolute;
  top:      0.5rem;
  left:     calc(#{$minimapWidthHeightPx} + 1.5rem);
  width:    $itemWidthHeightRem + $itemMarginRem * 2;

  .minimapLayerBtn {
    display: block;

    .btn-flat {
      text-align:  center;
      line-height: 1.75rem;
    }
  }
}

#minimapCurrentLayerNum {
  position:    absolute;
  top:         1rem;
  left:        1rem;
  width:       $minimapWidthHeightPx;
  height:      $minimapWidthHeightPx;
  text-align:  center;
  color:       $uiBgColor;
  font-size:   2rem;
  line-height: $minimapWidthHeightPx;
  text-shadow: 0 0 0 color('grey', 'darken-1');
  @extend .no-select;
}

#timeSpentCounterDiv {
  position:    absolute;
  top:         $itemWidthHeightRem + 1rem;
  right:       $leaderboardWidthRem + 2rem;
  width:       $itemWidthHeightRem;
  line-height: 1rem;
  text-align:  center;
  color:       color('grey', 'darken-4');
  font-size:   0.75rem;
  @extend .no-select;
}

#currentBiomeDiv {
  position:    absolute;
  top:         calc(#{$minimapWidthHeightPx} + 1rem);
  left:        1rem;
  width:       $minimapWidthHeightPx;
  line-height: 1rem;
  text-align:  center;
  color:       color('grey', 'darken-4');
  font-size:   0.75rem;
  @extend .no-select;
}

#bigMinimapModal {
  width:      calc(#{$bigMinimapHeightPx} + 4rem);
  height:     calc(#{$bigMinimapHeightPx} + 4rem);
  max-height: 100%;
  top:        50% !important;
  transform:  translateY(-50%) !important;

  .modal-content {
    position:         relative;
    width:            $bigMinimapWidthPx;
    height:           $bigMinimapHeightPx;
    padding:          0;
    background-size:  29px;
    background-image: url(../assets/ui/pattern_blueprintPaper.png);

    &[data-current-layer="falloff"] {
      background-color: white;

      .minimapDivCell {
        background-color: black;
      }
    }

    #bigMinimapElements {

      .minimapPlayer {
        width:      10px;
        height:     auto;
        background: transparent;
        filter:     sepia(1);
        @extend .no-select;
      }
    }

    .minimapDivCell {
      position: absolute;
      width:    $bigMinimapWidthPx / $worldWidth;
      height:   $bigMinimapHeightPx / $worldHeight;

      &.minimapDot {
        border-radius: 50%;
        @extend .z-depth-2;
      }

      &.pulse {
        width:   $bigMinimapWidthPx / $worldHeight;
        height:  $bigMinimapHeightPx / $worldHeight;
        z-index: 2;

        &:after {
          content:       "";
          display:       block;
          width:         24px;
          height:        24px;
          border-radius: 50%;
          border:        2px solid white;
          position:      absolute;
          top:           -10px;
          left:          -10px;
          z-index:       2;
          animation:     pulse 1s ease 0s infinite;
        }
      }
    }
  }
}

#compassModal {
  width:     272px;
  height:    272px;
  top:       50% !important;
  transform: translateY(-50%) !important;
  border:    none;

  .modal-background {
    position:   absolute;
    width:      272px;
    height:     272px;
    z-index:    1;
    background: url(../assets/ui/minimapMap_wood.png);
  }

  .modal-content {
    $compassPaddingPx: 10px;
    position:          absolute;
    width:             272px - $compassPaddingPx * 2;
    height:            272px - $compassPaddingPx * 2;
    margin:            $compassPaddingPx;
    padding:           0;
    border-radius:     50%;
    background-size:   29px;
    background-image:  url(../assets/ui/pattern_blueprintPaper.png);

    #compassNeedle {
      position:   absolute;
      height:     80%;
      top:        10%;
      left:       50%;
      right:      50%;
      transition: transform 0.5s ease;
      @extend .no-select;
    }
  }
}

.minimapDot {
  position: absolute;
  width:    2%;
  height:   2%;
  z-index:  2;

  &.minimapPlayer {
    background-color: color('grey', 'base');

    &.playerSelf {
      background-color: #FFFFFF;
    }
  }
}
