
#notificationMsg {
  font-size:   4rem;
  line-height: 4rem;
  position:    absolute;
  top:         3rem;
  left:        50%;
  transform:   translateX(-50%);
  display:     none;
  color:       $uiBgColor;
  @extend .no-select;
}
