$healthBarColor: color('green', 'darken-1');
$warmthBarColor: color('amber', 'darken-1');
$hungerBarColor: color('red', 'darken-1');
$innerBarHeightRem: 1rem;
$statBarWidthRem: 10rem;
$statBarBorderWidthPx: 1px;
$statBarHeightRem: calc(#{$innerBarHeightRem} + (#{$statBarBorderWidthPx} * 2));

.statBarContainer {
  position:  absolute;
  left:      50%;
  transform: translateX(-50%);
  bottom:    6rem;

  .statBar {
    width:            $statBarWidthRem;
    height:           $statBarHeightRem;
    display:          inline-block;
    border-radius:    calc(#{$statBarHeightRem} / 2);
    border:           $statBarBorderWidthPx solid;
    background-color: $uiBgColor;
    margin:           0 $itemMarginRem;

    &.hideStatBar {
      visibility: hidden;
    }

    .innerBar {
      height:             $innerBarHeightRem;
      border-radius:      $innerBarHeightRem / 2;
      -webkit-transition: width 1s ease-in-out;
      -moz-transition:    width 1s ease-in-out;
      -o-transition:      width 1s ease-in-out;
      transition:         width 1s ease-in-out;

      &.flashStatBar {
        -webkit-animation: flash linear 1s infinite;
        animation:         flash linear 1s infinite;
      }
    }
  }

  // @formatter:off
  #healthBar.statBar { border-color: $healthBarColor; .innerBar { background-color: $healthBarColor; } }
  #warmthBar.statBar { border-color: $warmthBarColor; .innerBar { background-color: $warmthBarColor; } }
  #hungerBar.statBar { border-color: $hungerBarColor; .innerBar { background-color: $hungerBarColor; } }
  // @formatter:on
}

@-webkit-keyframes flash {
  0% {
    opacity: 1;
  }
  50% {
    opacity: .1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes flash {
  0% {
    opacity: 1;
  }
  50% {
    opacity: .1;
  }
  100% {
    opacity: 1;
  }
}
