@charset "UTF-8";
/*
sass ~/mnt/ebs1/git/hunker/public/sass/style.scss ~/mnt/ebs1/git/hunker/public/sass/style.css
 *
 * Use this command to generate the css from the terminal.
 */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

button,
input,
optgroup,
select,
textarea {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

ul:not(.browser-default) {
  padding-left: 0;
  list-style-type: none;
}
ul:not(.browser-default) > li {
  list-style-type: none;
}

a {
  color: #039be5;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}

.valign-wrapper {
  display: flex;
  align-items: center;
}

.clearfix {
  clear: both;
}

.z-depth-0, .playerImageBtn, .modal .modal-content .btn-large:not(.btn-floating), .modal, .btn {
  box-shadow: none !important;
}

/* 2dp elevation modified*/
.z-depth-1 {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.z-depth-1-half {
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2);
}

/* 6dp elevation modified*/
.z-depth-2, #bigMinimapModal .modal-content .minimapDivCell.minimapDot {
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
}

/* 12dp elevation modified*/
.z-depth-3 {
  box-shadow: 0 8px 17px 2px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
}

/* 16dp elevation */
.z-depth-4 {
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -7px rgba(0, 0, 0, 0.2);
}

/* 24dp elevation */
.z-depth-5 {
  box-shadow: 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12), 0 11px 15px -7px rgba(0, 0, 0, 0.2);
}

.hoverable {
  transition: box-shadow 0.25s;
}
.hoverable:hover {
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.divider {
  height: 1px;
  overflow: hidden;
  background-color: #e0e0e0;
}

blockquote {
  margin: 20px 0;
  padding-left: 1.5rem;
  border-left: 5px solid #212121;
}

i {
  line-height: inherit;
}
i.left {
  float: left;
  margin-right: 15px;
}
i.right {
  float: right;
  margin-left: 15px;
}
i.tiny {
  font-size: 1rem;
}
i.small {
  font-size: 2rem;
}
i.medium {
  font-size: 4rem;
}
i.large {
  font-size: 6rem;
}

img.responsive-img,
video.responsive-video {
  max-width: 100%;
  height: auto;
}

.pagination li {
  display: inline-block;
  border-radius: 2px;
  text-align: center;
  vertical-align: top;
  height: 30px;
}
.pagination li a {
  color: #444;
  display: inline-block;
  font-size: 1.2rem;
  padding: 0 10px;
  line-height: 30px;
}
.pagination li.active a {
  color: #fff;
}
.pagination li.active {
  background-color: #212121;
}
.pagination li.disabled a {
  cursor: default;
  color: #999;
}
.pagination li i {
  font-size: 2rem;
}
.pagination li.pages ul li {
  display: inline-block;
  float: none;
}

@media only screen and (max-width : 992px) {
  .pagination {
    width: 100%;
  }
  .pagination li.prev,
.pagination li.next {
    width: 10%;
  }
  .pagination li.pages {
    width: 80%;
    overflow: hidden;
    white-space: nowrap;
  }
}
.breadcrumb {
  font-size: 18px;
  color: rgba(255, 255, 255, 0.7);
}
.breadcrumb i,
.breadcrumb [class^=mdi-], .breadcrumb [class*=mdi-],
.breadcrumb i.material-icons {
  display: inline-block;
  float: left;
  font-size: 24px;
}
.breadcrumb:before {
  content: "\e5cc";
  color: rgba(255, 255, 255, 0.7);
  vertical-align: top;
  display: inline-block;
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 25px;
  margin: 0 10px 0 8px;
  -webkit-font-smoothing: antialiased;
}
.breadcrumb:first-child:before {
  display: none;
}
.breadcrumb:last-child {
  color: #fff;
}

.parallax-container {
  position: relative;
  overflow: hidden;
  height: 500px;
}
.parallax-container .parallax {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}
.parallax-container .parallax img {
  opacity: 0;
  position: absolute;
  left: 50%;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  transform: translate3d(0, 0, 0);
  transform: translateX(-50%);
}

.pin-top, .pin-bottom {
  position: relative;
}

.pinned {
  position: fixed !important;
}

/*********************
  Transition Classes
**********************/
ul.staggered-list li {
  opacity: 0;
}

.fade-in {
  opacity: 0;
  transform-origin: 0 50%;
}

/*********************
  Media Query Classes
**********************/
@media only screen and (max-width : 600px) {
  .hide-on-small-only, .hide-on-small-and-down {
    display: none !important;
  }
}

@media only screen and (max-width : 992px) {
  .hide-on-med-and-down {
    display: none !important;
  }
}

@media only screen and (min-width : 601px) {
  .hide-on-med-and-up {
    display: none !important;
  }
}

@media only screen and (min-width: 600px) and (max-width: 992px) {
  .hide-on-med-only {
    display: none !important;
  }
}

@media only screen and (min-width : 993px) {
  .hide-on-large-only {
    display: none !important;
  }
}

@media only screen and (min-width : 1201px) {
  .hide-on-extra-large-only {
    display: none !important;
  }
}

@media only screen and (min-width : 1201px) {
  .show-on-extra-large {
    display: block !important;
  }
}

@media only screen and (min-width : 993px) {
  .show-on-large {
    display: block !important;
  }
}

@media only screen and (min-width: 600px) and (max-width: 992px) {
  .show-on-medium {
    display: block !important;
  }
}

@media only screen and (max-width : 600px) {
  .show-on-small {
    display: block !important;
  }
}

@media only screen and (min-width : 601px) {
  .show-on-medium-and-up {
    display: block !important;
  }
}

@media only screen and (max-width : 992px) {
  .show-on-medium-and-down {
    display: block !important;
  }
}

@media only screen and (max-width : 600px) {
  .center-on-small-only {
    text-align: center;
  }
}

.page-footer {
  padding-top: 20px;
  color: #fff;
  background-color: #212121;
}
.page-footer .footer-copyright {
  overflow: hidden;
  min-height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0px;
  color: rgba(255, 255, 255, 0.8);
  background-color: rgba(51, 51, 51, 0.08);
}

table, th, td {
  border: none;
}

table {
  width: 100%;
  display: table;
  border-collapse: collapse;
  border-spacing: 0;
}
table.striped tr {
  border-bottom: none;
}
table.striped > tbody > tr:nth-child(odd) {
  background-color: rgba(242, 242, 242, 0.5);
}
table.striped > tbody > tr > td {
  border-radius: 0;
}
table.highlight > tbody > tr {
  transition: background-color 0.25s ease;
}
table.highlight > tbody > tr:hover {
  background-color: rgba(242, 242, 242, 0.5);
}
table.centered thead tr th, table.centered tbody tr td {
  text-align: center;
}

tr {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

td, th {
  padding: 15px 5px;
  display: table-cell;
  text-align: left;
  vertical-align: middle;
  border-radius: 2px;
}

@media only screen and (max-width : 992px) {
  table.responsive-table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    display: block;
    position: relative;
    /* sort out borders */
  }
  table.responsive-table td:empty:before {
    content: " ";
  }
  table.responsive-table th,
table.responsive-table td {
    margin: 0;
    vertical-align: top;
  }
  table.responsive-table th {
    text-align: left;
  }
  table.responsive-table thead {
    display: block;
    float: left;
  }
  table.responsive-table thead tr {
    display: block;
    padding: 0 10px 0 0;
  }
  table.responsive-table thead tr th::before {
    content: " ";
  }
  table.responsive-table tbody {
    display: block;
    width: auto;
    position: relative;
    overflow-x: auto;
    white-space: nowrap;
  }
  table.responsive-table tbody tr {
    display: inline-block;
    vertical-align: top;
  }
  table.responsive-table th {
    display: block;
    text-align: right;
  }
  table.responsive-table td {
    display: block;
    min-height: 1.25em;
    text-align: left;
  }
  table.responsive-table tr {
    border-bottom: none;
    padding: 0 10px;
  }
  table.responsive-table thead {
    border: 0;
    border-right: 1px solid rgba(0, 0, 0, 0.12);
  }
}
.collection {
  margin: 0.5rem 0 1rem 0;
  border: 1px solid #e0e0e0;
  border-radius: 2px;
  overflow: hidden;
  position: relative;
}
.collection .collection-item {
  background-color: #fff;
  line-height: 1.5rem;
  padding: 10px 20px;
  margin: 0;
  border-bottom: 1px solid #e0e0e0;
}
.collection .collection-item.avatar {
  min-height: 84px;
  padding-left: 72px;
  position: relative;
}
.collection .collection-item.avatar:not(.circle-clipper) > .circle,
.collection .collection-item.avatar :not(.circle-clipper) > .circle {
  position: absolute;
  width: 42px;
  height: 42px;
  overflow: hidden;
  left: 15px;
  display: inline-block;
  vertical-align: middle;
}
.collection .collection-item.avatar i.circle {
  font-size: 18px;
  line-height: 42px;
  color: #fff;
  background-color: #999;
  text-align: center;
}
.collection .collection-item.avatar .title {
  font-size: 16px;
}
.collection .collection-item.avatar p {
  margin: 0;
}
.collection .collection-item.avatar .secondary-content {
  position: absolute;
  top: 16px;
  right: 16px;
}
.collection .collection-item:last-child {
  border-bottom: none;
}
.collection .collection-item.active {
  background-color: #673ab7;
  color: white;
}
.collection .collection-item.active .secondary-content {
  color: #fff;
}
.collection a.collection-item {
  display: block;
  transition: 0.25s;
  color: #673ab7;
}
.collection a.collection-item:not(.active):hover {
  background-color: #ddd;
}
.collection.with-header .collection-header {
  background-color: #fff;
  border-bottom: 1px solid #e0e0e0;
  padding: 10px 20px;
}
.collection.with-header .collection-item {
  padding-left: 30px;
}
.collection.with-header .collection-item.avatar {
  padding-left: 72px;
}

.secondary-content {
  float: right;
  color: #673ab7;
}

.collapsible .collection {
  margin: 0;
  border: none;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
}
.video-container iframe, .video-container object, .video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.progress {
  position: relative;
  height: 4px;
  display: block;
  width: 100%;
  background-color: #daceef;
  border-radius: 2px;
  margin: 0.5rem 0 1rem 0;
  overflow: hidden;
}
.progress .determinate {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: #673ab7;
  transition: width 0.3s linear;
}
.progress .indeterminate {
  background-color: #673ab7;
}
.progress .indeterminate:before {
  content: "";
  position: absolute;
  background-color: inherit;
  top: 0;
  left: 0;
  bottom: 0;
  will-change: left, right;
  animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
}
.progress .indeterminate:after {
  content: "";
  position: absolute;
  background-color: inherit;
  top: 0;
  left: 0;
  bottom: 0;
  will-change: left, right;
  animation: indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
  animation-delay: 1.15s;
}

@keyframes indeterminate {
  0% {
    left: -35%;
    right: 100%;
  }
  60% {
    left: 100%;
    right: -90%;
  }
  100% {
    left: 100%;
    right: -90%;
  }
}
@keyframes indeterminate-short {
  0% {
    left: -200%;
    right: 100%;
  }
  60% {
    left: 107%;
    right: -8%;
  }
  100% {
    left: 107%;
    right: -8%;
  }
}
/*******************
  Utility Classes
*******************/
.hide {
  display: none !important;
}

.left-align {
  text-align: left;
}

.right-align {
  text-align: right;
}

.center, .center-align {
  text-align: center;
}

.left {
  float: left !important;
}

.right {
  float: right !important;
}

.no-select, #notificationMsg, .item span.itemCount, .item .itemImg, .itemSlot .enchantingTableButton, .enchantingTableButtonSlot .enchantingTableButton, .itemSlot, .enchantingTableButtonSlot, #compassModal .modal-content #compassNeedle, #bigMinimapModal .modal-content #bigMinimapElements .minimapPlayer, #currentBiomeDiv, #timeSpentCounterDiv, #minimapCurrentLayerNum, #messagesList, #leaderboardContainer, .playerGameModeLink, .playerDifficultyLink, .modal .modal-content .btn-large:not(.btn-floating), .modal#playerDiedGameModal p, .btn, .input-field .helper-text, h1, h2, h3, h4 {
  user-select: none;
}

.circle {
  border-radius: 50%;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.truncate {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.no-padding {
  padding: 0 !important;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Germania One", Roboto, RobotoDraft, Open Sans, arial, helvetica, sans-serif !important;
}

body {
  margin: 0;
  font-family: "Germania One", Roboto, RobotoDraft, Open Sans, arial, helvetica, sans-serif !important;
  overflow: hidden;
  color: white;
}

h1 {
  text-align: center;
}

table {
  table-layout: fixed;
}

.modal:focus {
  outline-width: 0;
}

.input-field .helper-text {
  margin: 0;
  color: #9e9e9e;
}
.input-field .progress {
  display: none;
  position: absolute;
  margin: 0;
  top: calc(3rem - 2px);
  left: 0;
  right: 0;
}

.btn {
  background: transparent !important;
  border: 1.5rem solid transparent;
  border-image: 33% fill url(../assets/ui/panel_woodDetail.png);
  line-height: 0;
}
.btn.grey.darken-3:hover {
  background-color: #4f4f4f !important;
}

.modal {
  width: 27rem;
  max-height: none;
  background-color: transparent;
  border: 2rem solid transparent;
  border-image: 33% fill url(../assets/ui/panel_woodPaperDetail.png);
  color: #212121;
}
.modal#joinGameModal {
  overflow: visible;
}
.modal#joinGameModal #nameInput {
  font-size: 1.5rem;
}
.modal#joinGameModal #playerImageChooser {
  float: right;
}
.modal#joinGameModal h1 {
  font-size: 5rem;
  background: linear-gradient(-150deg, #e040fb 0%, #4a148c 97%);
  color: white;
  margin: calc(-1rem - 1px) calc(-1rem - 1px) 2rem calc(-1rem - 1px);
  padding: 2rem;
  border-radius: 0.5rem;
}
.modal#joinGameModal .modalBanner {
  position: absolute;
  left: -2rem;
  bottom: -1.35rem;
  width: 27rem;
  color: white;
}
.modal#joinGameModal .modalBanner .bannerImg {
  position: absolute;
  top: 0;
  left: 0;
  width: 27rem;
}
.modal#joinGameModal .modalBanner .bannerText {
  position: absolute;
  top: 2.15rem;
  font-size: 1.5rem;
  left: 0;
  right: 0;
  text-align: center;
}
.modal#joinGameModal #accountPanel {
  position: absolute;
  top: 0;
  bottom: 0;
  left: calc(27rem + 3rem);
  width: 300px;
  border: 2rem solid transparent;
  border-image: 33% fill url(../assets/ui/panel_woodPaperDetail.png);
  background-color: transparent;
}
.modal#joinGameModal #accountPanel .input-field input {
  font-size: 1.3rem;
}
.modal#joinGameModal #accountPanel #registerBtn {
  width: calc(50% - 0.5rem);
  margin-right: 0.5rem;
}
.modal#joinGameModal #accountPanel #loginBtn {
  width: calc(50% - 0.5rem);
  margin-left: 0.5rem;
  float: right;
}
.modal#joinGameModal #accountPanel #loginSuccessScreen {
  display: none;
}
.modal#changePlayerImageModal {
  font-size: 0;
  top: calc(10% + (27rem - ((4 * (56px + (2 * 0.5rem))) + 1rem)) / 2) !important;
  width: calc(4 * (56px + (2 * 0.5rem)) + 1rem);
}
.modal#changePlayerImageModal .modal-content {
  padding: 0.5rem;
}
.modal#changePlayerImageModal .modal-content .playerImageBtn {
  margin: 0.5rem;
}
.modal#changeGameModeModal, .modal#changeDifficultyModal {
  font-size: 0;
  top: calc(10% + (27rem - ((4 * (56px + (2 * 0.5rem))) + 1rem)) / 2) !important;
  width: calc(4 * (56px + (2 * 0.5rem)) + 1rem);
}
.modal#changeGameModeModal .modal-content, .modal#changeDifficultyModal .modal-content {
  padding: 0.5rem;
}
.modal#changeGameModeModal .modal-content .collection, .modal#changeDifficultyModal .modal-content .collection {
  border-radius: 0.3rem;
}
.modal#changeGameModeModal .modal-content .collection .collection-item, .modal#changeDifficultyModal .modal-content .collection .collection-item {
  cursor: pointer;
}
.modal#changeGameModeModal .modal-content .collection .collection-item.active, .modal#changeDifficultyModal .modal-content .collection .collection-item.active {
  background: linear-gradient(-150deg, #e040fb 0%, #4a148c 97%) !important;
  border-radius: 0.3rem;
}
.modal#changeGameModeModal .modal-content .collection .collection-item:hover, .modal#changeDifficultyModal .modal-content .collection .collection-item:hover {
  background: #f5f5f5;
}
.modal#changeGameModeModal .modal-content .collection .collection-item .smallText, .modal#changeDifficultyModal .modal-content .collection .collection-item .smallText {
  font-size: 0.8rem !important;
  color: #bdbdbd;
}
.modal#disconnectedModal h3 {
  text-align: center;
}
.modal#playerDiedGameModal {
  width: 32rem;
}
.modal#playerDiedGameModal p {
  font-family: "Cinzel", Roboto, RobotoDraft, Open Sans, arial, helvetica, sans-serif !important;
  text-align: center;
  font-size: 2rem;
}
.modal#playerDiedGameModal p #playerHelperText {
  text-align: center;
  font-weight: 600;
}
.modal#playerDiedGameModal p span {
  font-family: "Cinzel", Roboto, RobotoDraft, Open Sans, arial, helvetica, sans-serif !important;
}
.modal#inventoryModal {
  top: 50% !important;
  transform: translateY(-50%) !important;
  width: 41rem;
  overflow: visible;
}
.modal#inventoryModal .modal-content {
  padding: 0.5rem;
  overflow: visible;
  position: relative;
}
.modal#inventoryModal .modal-content .itemRowDividers {
  text-align: center;
}
.modal#inventoryModal .modal-content .itemRowDividers .expandCollapseCraftingButton {
  position: absolute;
  margin-top: -21px;
  background: #fef2d3;
  transform: translateX(-50%);
  padding: 0.6rem 0.8rem;
  display: inline-block;
  font-size: 0;
  cursor: pointer;
  border-radius: 0.3rem;
  z-index: 1;
}
.modal#inventoryModal .modal-content .itemRowDividers .expandCollapseCraftingButton img {
  height: 10px;
}
.modal#inventoryModal .modal-content .itemRow {
  text-align: center;
}
.modal#inventoryModal .modal-content .itemRow[data-item-row-type=crafting] {
  overflow-x: hidden;
  overflow-y: auto;
  text-align: left;
  max-width: calc((3rem + 1rem) * 9 + 1rem + 17px);
  margin-right: -17px;
  max-height: 8rem;
}
.modal#inventoryModal .modal-content .itemRow[data-item-row-type=crafting] .itemRowDividers {
  display: none;
}
.modal#inventoryModal .modal-content .itemRow[data-item-row-type=crafting].expandedCrafting {
  position: absolute;
  background-color: #FFF1D2;
  max-height: unset;
  top: 0;
  bottom: 0;
  z-index: 2;
}
.modal#inventoryModal .modal-content .itemRow[data-item-row-type=crafting].expandedCrafting .itemRowDividers {
  position: fixed;
  z-index: 1;
  bottom: -9px;
  display: block;
  left: 0;
  right: 0;
}
.modal .modal-content {
  overflow: hidden;
  padding: 1rem;
}
.modal .modal-content .row {
  margin-bottom: 2rem;
}
.modal .modal-content .row .input-field {
  margin: 0;
  padding: 0;
}
.modal .modal-content p, .modal .modal-content li {
  font-size: 1.2rem;
}
.modal .modal-content .btn-large:not(.btn-floating) {
  width: 100%;
  height: 4rem;
  line-height: 1.25rem;
  font-size: 2rem;
  transition: all 0.3s ease-in-out;
}
.modal .modal-content .btn-large:not(.btn-floating):hover {
  transition: all 0.1s ease-in-out;
  width: calc(1.03 * 100%);
  height: 4.12rem;
  margin: -0.06rem calc((1.03 - 1) * 100% / 2 * -1);
  font-size: 2.06rem;
}

.playerImageBtn {
  background-color: transparent !important;
  background-image: url(../assets/ui/round_woodPaperWear.png);
  background-size: contain;
}
.playerImageBtn img {
  margin-top: 25%;
  height: 50%;
  transform: rotate(45deg);
}
.playerImageBtn #selectedPlayerImage {
  position: absolute;
  top: 0;
  width: 100%;
  text-align: center;
  font-size: 3rem;
  color: lightgrey;
}

.ui-tooltip {
  z-index: 2000;
  font-size: 1rem;
  border-radius: 0.3rem;
  padding: 0.5rem 0.75rem;
  min-height: 2rem;
  line-height: 1.5rem;
  max-width: calc(100% - 4px);
  overflow: hidden;
  pointer-events: none;
  background-color: rgba(33, 33, 33, 0.8);
  font-family: "Germania One", Roboto, RobotoDraft, Open Sans, arial, helvetica, sans-serif !important;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border: none !important;
  text-align: left;
  color: #f5f5f5;
}
.ui-tooltip b {
  color: #FFFFFF;
}
.ui-tooltip i {
  font-family: monospace;
  font-size: 0.75rem;
  line-height: 1rem;
  color: #9e9e9e;
}

html.ghostGrayscale {
  filter: grayscale(85%);
}

#loadingBackground {
  background-size: cover;
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  background-image: url(/public/assets/backgrounds/1.png);
  background-image: url(/public/assets/backgrounds/2.png);
  background-image: url(/public/assets/backgrounds/3.png);
  background-image: url(/public/assets/backgrounds/4.png);
  background-image: url(/public/assets/backgrounds/5.png);
  background-image: none;
}

#dayNightIndicatorContainer {
  position: absolute;
  top: 5.25rem;
  right: 22rem;
  width: 3rem;
  height: 3rem;
  display: inline-block;
}

#dayIndicatorImg, #nightIndicatorImg {
  position: absolute;
  z-index: 2;
  top: 0.5rem;
  left: 0.5rem;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}

.rotate {
  animation: rotation 3s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
#pauseGameBtn {
  position: absolute;
  top: 0.5rem;
  right: 21.5rem;
}

#heldSpriteAdjuster {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 265px;
  height: 265px;
  display: block;
  border: 1.5rem solid transparent;
  border-image: 33% fill url(../assets/ui/panel_woodPaperDetail.png);
  color: #212121;
}
#heldSpriteAdjuster td {
  padding: 0;
}

.playerGameModeLink, .playerDifficultyLink {
  font-size: 0.9rem;
  width: 50%;
  cursor: pointer;
  color: #424242;
}
.playerGameModeLink:hover .playerGameModeText, .playerGameModeLink:hover .playerDifficultyText, .playerDifficultyLink:hover .playerGameModeText, .playerDifficultyLink:hover .playerDifficultyText {
  text-decoration: underline;
}

.playerGameModeLink {
  float: left;
}

.playerDifficultyLink {
  float: right;
  text-align: right;
}

.chooserLinkChevron {
  vertical-align: 0.2rem;
}

.flex {
  animation: flex 1s ease 0s infinite;
}

@keyframes flex {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(3);
  }
}
@keyframes pulse {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  80% {
    opacity: 0;
    transform: scale(2);
  }
  100% {
    opacity: 0;
    transform: scale(3);
  }
}
html {
  transition: filter 2s ease;
}

#leaderboardContainer {
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 20rem;
  color: white;
  border: 1rem solid transparent;
  border-image: 33% fill url(../assets/ui/panel_woodDetail_grey.png);
  padding: 0 0.5rem;
  display: none;
}
#leaderboardContainer #leaderboardTable {
  font-size: 1.25rem;
  color: white;
}
#leaderboardContainer #leaderboardTable tr {
  border-bottom: none;
}
#leaderboardContainer #leaderboardTable tr td, #leaderboardContainer #leaderboardTable tr th {
  padding: 0.5rem 0;
}
#leaderboardContainer #leaderboardTable tr td b, #leaderboardContainer #leaderboardTable tr th b {
  font-size: 1.5rem;
  font-weight: normal;
}
#leaderboardContainer #leaderboardTable tr td:nth-child(1), #leaderboardContainer #leaderboardTable tr th:nth-child(1) {
  width: 2rem;
}
#leaderboardContainer #leaderboardTable tr td:nth-child(2), #leaderboardContainer #leaderboardTable tr th:nth-child(2) {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#leaderboardContainer #leaderboardTable tr td:nth-child(3), #leaderboardContainer #leaderboardTable tr th:nth-child(3) {
  width: 4rem;
  text-align: right;
}

#messagesList {
  font-size: 1.25rem;
  margin: 0;
  position: absolute;
  left: 1rem;
  bottom: 4.5rem;
  width: 0;
  overflow: visible;
  z-index: 1;
}
#messagesList div.message {
  margin: 0.25rem 0;
  border-radius: 0.3rem;
  background-color: rgba(33, 33, 33, 0.8);
  padding: 0.25rem 0.5rem;
  display: block;
  float: left;
  width: max-content;
  max-width: 20rem;
  overflow: hidden;
  word-break: break-word;
}
#messagesList div.message.commandSuccess, #messagesList div.message .commandSuccess {
  color: #B9F6CA;
}
#messagesList div.message.commandError, #messagesList div.message .commandError {
  color: #FF8A80;
}
#messagesList div.message ul {
  margin: 0;
}
#messagesList div.message code {
  user-select: text;
  display: inline-block;
}

#messageInputContainer {
  border-radius: 0.3rem;
  background-color: rgba(33, 33, 33, 0.8);
  padding: 0.25rem 0.75rem;
  height: 3rem;
  position: absolute;
  left: 1rem;
  bottom: 1rem;
  width: 25%;
  max-width: 20rem;
  z-index: 1;
}
#messageInputContainer #messageInput {
  border-bottom: none !important;
  box-shadow: none !important;
  font-size: 1.25rem;
  margin: 0;
  color: white;
  height: 2.5rem;
}

#minimapDiv {
  position: absolute;
  top: 1rem;
  left: 1rem;
  width: calc(150px + 2rem);
  height: calc(150px + 2rem);
  border: 1rem solid transparent;
  border-image: 33% fill url(../assets/ui/panel_woodDetail_grey.png);
}

#minimapLayerBtns {
  position: absolute;
  top: 0.5rem;
  left: calc(calc(150px + 2rem) + 1.5rem);
  width: 4rem;
}
#minimapLayerBtns .minimapLayerBtn {
  display: block;
}
#minimapLayerBtns .minimapLayerBtn .btn-flat {
  text-align: center;
  line-height: 1.75rem;
}

#minimapCurrentLayerNum {
  position: absolute;
  top: 1rem;
  left: 1rem;
  width: calc(150px + 2rem);
  height: calc(150px + 2rem);
  text-align: center;
  color: rgba(33, 33, 33, 0.8);
  font-size: 2rem;
  line-height: calc(150px + 2rem);
  text-shadow: 0 0 0 #757575;
}

#timeSpentCounterDiv {
  position: absolute;
  top: 4rem;
  right: 22rem;
  width: 3rem;
  line-height: 1rem;
  text-align: center;
  color: #212121;
  font-size: 0.75rem;
}

#currentBiomeDiv {
  position: absolute;
  top: calc(calc(150px + 2rem) + 1rem);
  left: 1rem;
  width: calc(150px + 2rem);
  line-height: 1rem;
  text-align: center;
  color: #212121;
  font-size: 0.75rem;
}

#bigMinimapModal {
  width: calc(800px + 4rem);
  height: calc(800px + 4rem);
  max-height: 100%;
  top: 50% !important;
  transform: translateY(-50%) !important;
}
#bigMinimapModal .modal-content {
  position: relative;
  width: 800px;
  height: 800px;
  padding: 0;
  background-size: 29px;
  background-image: url(../assets/ui/pattern_blueprintPaper.png);
}
#bigMinimapModal .modal-content[data-current-layer=falloff] {
  background-color: white;
}
#bigMinimapModal .modal-content[data-current-layer=falloff] .minimapDivCell {
  background-color: black;
}
#bigMinimapModal .modal-content #bigMinimapElements .minimapPlayer {
  width: 10px;
  height: auto;
  background: transparent;
  filter: sepia(1);
}
#bigMinimapModal .modal-content .minimapDivCell {
  position: absolute;
  width: 4px;
  height: 4px;
}
#bigMinimapModal .modal-content .minimapDivCell.minimapDot {
  border-radius: 50%;
}
#bigMinimapModal .modal-content .minimapDivCell.pulse {
  width: 4px;
  height: 4px;
  z-index: 2;
}
#bigMinimapModal .modal-content .minimapDivCell.pulse:after {
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 2px solid white;
  position: absolute;
  top: -10px;
  left: -10px;
  z-index: 2;
  animation: pulse 1s ease 0s infinite;
}

#compassModal {
  width: 272px;
  height: 272px;
  top: 50% !important;
  transform: translateY(-50%) !important;
  border: none;
}
#compassModal .modal-background {
  position: absolute;
  width: 272px;
  height: 272px;
  z-index: 1;
  background: url(../assets/ui/minimapMap_wood.png);
}
#compassModal .modal-content {
  position: absolute;
  width: 252px;
  height: 252px;
  margin: 10px;
  padding: 0;
  border-radius: 50%;
  background-size: 29px;
  background-image: url(../assets/ui/pattern_blueprintPaper.png);
}
#compassModal .modal-content #compassNeedle {
  position: absolute;
  height: 80%;
  top: 10%;
  left: 50%;
  right: 50%;
  transition: transform 0.5s ease;
}

.minimapDot {
  position: absolute;
  width: 2%;
  height: 2%;
  z-index: 2;
}
.minimapDot.minimapPlayer {
  background-color: #9e9e9e;
}
.minimapDot.minimapPlayer.playerSelf {
  background-color: #FFFFFF;
}

#hotbarContainer {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  padding-bottom: 0.75rem;
  border: 1.5rem solid transparent;
  border-image: 33% fill url(../assets/ui/panel_woodPaperDetail.png);
  border-bottom: 0;
}
#hotbarContainer #hotbarItems .itemSlot {
  margin-top: 0;
  margin-bottom: 0;
}
#hotbarContainer #hotbarItems .itemSlot:first-child {
  margin-left: 0;
}
#hotbarContainer #hotbarItems .itemSlot:last-child {
  margin-right: 0;
}

.itemSlot, .enchantingTableButtonSlot {
  width: 3rem;
  height: 3rem;
  display: inline-block;
  vertical-align: middle;
  background-color: rgba(33, 33, 33, 0.8);
  background-size: contain;
  border-radius: 0.3rem;
  margin: 0.5rem;
  position: relative;
}
.itemSlot .enchantingTableButton, .enchantingTableButtonSlot .enchantingTableButton {
  background: url(/public/assets/items/enchanting_table.png);
  background-size: contain;
  -webkit-user-drag: none;
}
.itemSlot .progress, .enchantingTableButtonSlot .progress {
  margin: 0;
  position: absolute;
  bottom: 0;
}
.itemSlot.selectedItem, .enchantingTableButtonSlot.selectedItem {
  border: #bdbdbd solid 2px;
}
.itemSlot.selectedItem .item, .enchantingTableButtonSlot.selectedItem .item {
  padding: calc(0.65rem - 2px);
}
.itemSlot.selectedItem .item span.itemCount, .enchantingTableButtonSlot.selectedItem .item span.itemCount {
  bottom: -8px;
  right: 2px;
}
.itemSlot#pauseGameBtn, #minimapLayerBtns .itemSlot.minimapLayerBtn, .enchantingTableButtonSlot#pauseGameBtn, #minimapLayerBtns .enchantingTableButtonSlot.minimapLayerBtn {
  background-color: transparent;
  background-image: url(../assets/ui/panel_woodWear_blank.png);
}
.itemSlot.disabled, .allDisabled .itemSlot, .enchantingTableButtonSlot.disabled, .allDisabled .enchantingTableButtonSlot {
  background-color: rgba(33, 33, 33, 0.8) !important;
  filter: gray;
  /* IE6-9 */
  -webkit-filter: grayscale(1);
  /* Google Chrome, Safari 6+ & Opera 15+ */
  filter: grayscale(1);
  /* Microsoft Edge and Firefox 35+ */
}
.itemSlot.disabled:hover, .allDisabled .itemSlot:hover, .enchantingTableButtonSlot.disabled:hover, .allDisabled .enchantingTableButtonSlot:hover {
  -webkit-filter: grayscale(0);
  filter: none;
}
.itemSlot.disabled .item, .allDisabled .itemSlot .item, .enchantingTableButtonSlot.disabled .item, .allDisabled .enchantingTableButtonSlot .item {
  cursor: default;
}
.itemSlot.highlighted:not(.disabled), .itemSlot:hover:not(.disabled), .enchantingTableButtonSlot.highlighted:not(.disabled), .enchantingTableButtonSlot:hover:not(.disabled) {
  background-color: #5e35b1;
}
.itemSlot.dragOver, .enchantingTableButtonSlot.dragOver {
  border: #bdbdbd dashed 2px;
}
.itemSlot.dragOver .item, .enchantingTableButtonSlot.dragOver .item {
  padding: calc(0.65rem - 2px);
}
.itemSlot.dragOver .item span.itemCount, .enchantingTableButtonSlot.dragOver .item span.itemCount {
  bottom: -8px;
  right: 2px;
}
.itemSlot span.hotbarShortcutLetter, .enchantingTableButtonSlot span.hotbarShortcutLetter {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  text-align: center;
  font-size: 10px;
  line-height: 10px;
  color: #9e9e9e;
}
.itemRow[data-item-row-type=crafting] .itemSlot, .itemRow[data-item-row-type=crafting] .enchantingTableButtonSlot {
  background-size: 29px;
  background-image: url(../assets/ui/pattern_blueprint.png);
}
.itemRow[data-is-enchanting-table="1"] .itemSlot:nth-child(2)::after, .itemRow[data-is-enchanting-table="1"] .enchantingTableButtonSlot:nth-child(2)::after {
  background-image: url("../assets/items/pick_bronze.png");
  background-size: 30px;
  filter: contrast(0%) brightness(50%);
  content: " ";
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
}
.itemRow[data-is-enchanting-table="1"] .itemSlot:nth-child(3)::after, .itemRow[data-is-enchanting-table="1"] .enchantingTableButtonSlot:nth-child(3)::after {
  background-image: url("../assets/items/ore_silver.png");
  background-size: 30px;
  filter: contrast(0%) brightness(50%);
  content: " ";
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
}
.itemRow[data-is-enchanting-table="1"] .itemSlot:nth-child(4)::after, .itemRow[data-is-enchanting-table="1"] .enchantingTableButtonSlot:nth-child(4)::after {
  background-image: url("../assets/items/book.png");
  background-size: 30px;
  filter: contrast(0%) brightness(50%);
  content: " ";
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
}
.itemRow[data-item-row-type=hotbar] .itemSlot:nth-child(1)::after, .itemRow[data-item-row-type=hotbar] .enchantingTableButtonSlot:nth-child(1)::after {
  background-image: url("../assets/items/sword_bronze.png");
  background-size: 30px;
  filter: contrast(0%) brightness(50%);
  content: " ";
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
}
.itemRow[data-item-row-type=hotbar] .itemSlot:nth-child(2)::after, .itemRow[data-item-row-type=hotbar] .enchantingTableButtonSlot:nth-child(2)::after {
  background-image: url("../assets/items/pick_bronze.png");
  background-size: 30px;
  filter: contrast(0%) brightness(50%);
  content: " ";
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
}
.itemRow[data-item-row-type=hotbar] .itemSlot:nth-child(3)::after, .itemRow[data-item-row-type=hotbar] .enchantingTableButtonSlot:nth-child(3)::after {
  background-image: url("../assets/items/hoe_bronze.png");
  background-size: 30px;
  filter: contrast(0%) brightness(50%);
  content: " ";
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
}
.itemRow[data-item-row-type=hotbar] .itemSlot:nth-child(4)::after, .itemRow[data-item-row-type=hotbar] .enchantingTableButtonSlot:nth-child(4)::after {
  background-image: url("../assets/items/axe_bronze.png");
  background-size: 30px;
  filter: contrast(0%) brightness(50%);
  content: " ";
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
}
.itemRow[data-item-row-type=hotbar] .itemSlot:nth-child(8)::after, .itemRow[data-item-row-type=hotbar] .enchantingTableButtonSlot:nth-child(8)::after {
  background-image: url("../assets/items/apple.png");
  background-size: 30px;
  filter: contrast(0%) brightness(50%);
  content: " ";
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
}
.itemRow[data-item-row-type=hotbar] .itemSlot:nth-child(9)::after, .itemRow[data-item-row-type=hotbar] .enchantingTableButtonSlot:nth-child(9)::after {
  background-image: url("../assets/items/torch.png");
  background-size: 30px;
  filter: contrast(0%) brightness(50%);
  content: " ";
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
}
.itemRow[data-item-row-type=accessories] .itemSlot:nth-child(1)::after, .itemRow[data-item-row-type=accessories] .enchantingTableButtonSlot:nth-child(1)::after {
  background-image: url("../assets/items/iron_helmet.png");
  background-size: 30px;
  filter: contrast(0%) brightness(50%);
  content: " ";
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
}
.itemRow[data-item-row-type=accessories] .itemSlot:nth-child(2)::after, .itemRow[data-item-row-type=accessories] .enchantingTableButtonSlot:nth-child(2)::after {
  background-image: url("../assets/items/iron_chestplate.png");
  background-size: 30px;
  filter: contrast(0%) brightness(50%);
  content: " ";
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
}
.itemRow[data-item-row-type=accessories] .itemSlot:nth-child(3)::after, .itemRow[data-item-row-type=accessories] .enchantingTableButtonSlot:nth-child(3)::after {
  background-image: url("../assets/items/iron_leggings.png");
  background-size: 30px;
  filter: contrast(0%) brightness(50%);
  content: " ";
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
}
.itemRow[data-item-row-type=accessories] .itemSlot:nth-child(4)::after, .itemRow[data-item-row-type=accessories] .enchantingTableButtonSlot:nth-child(4)::after {
  background-image: url("../assets/items/iron_boots.png");
  background-size: 30px;
  filter: contrast(0%) brightness(50%);
  content: " ";
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
}
.itemRow[data-item-row-type=accessories] .itemSlot:nth-child(5)::after, .itemRow[data-item-row-type=accessories] .enchantingTableButtonSlot:nth-child(5)::after {
  background-image: url("../assets/items/shield.png");
  background-size: 30px;
  filter: contrast(0%) brightness(50%);
  content: " ";
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
}
.itemRow[data-item-row-type=accessories] .itemSlot:nth-child(6)::after, .itemRow[data-item-row-type=accessories] .enchantingTableButtonSlot:nth-child(6)::after {
  background-image: url("../assets/items/chain_ruby.png");
  background-size: 30px;
  filter: contrast(0%) brightness(50%);
  content: " ";
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
}
.itemRow[data-item-row-type=accessories] .itemSlot:nth-child(7)::after, .itemRow[data-item-row-type=accessories] .enchantingTableButtonSlot:nth-child(7)::after {
  background-image: url("../assets/items/ring_copper.png");
  background-size: 30px;
  filter: contrast(0%) brightness(50%);
  content: " ";
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
}
.itemRow[data-item-row-type=accessories] .itemSlot:nth-child(8)::after, .itemRow[data-item-row-type=accessories] .enchantingTableButtonSlot:nth-child(8)::after {
  background-image: url("../assets/items/ring_copper.png");
  background-size: 30px;
  filter: contrast(0%) brightness(50%);
  content: " ";
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
}
.itemRow[data-item-row-type=accessories] .itemSlot:nth-child(9)::after, .itemRow[data-item-row-type=accessories] .enchantingTableButtonSlot:nth-child(9)::after {
  background-image: url("../assets/items/ring_copper.png");
  background-size: 30px;
  filter: contrast(0%) brightness(50%);
  content: " ";
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
}

.item {
  width: 3rem;
  height: 3rem;
  padding: 0.65rem;
  display: inline-block;
  position: relative;
  text-align: left;
  overflow: hidden;
  white-space: nowrap;
}
.item.dragItem {
  transform: scale(1.5);
}
.item .itemImg {
  -webkit-user-drag: none;
  width: 1.7rem;
  height: 1.7rem;
  position: relative;
  z-index: 1;
}
.item .itemImg.enchantedItem {
  -webkit-animation: enchantedItemGlow 2.5s ease-in-out infinite alternate;
  animation: enchantedItemGlow 2.5s ease-in-out infinite alternate;
}
@-webkit-keyframes enchantedItemGlow {
  0% {
    -webkit-filter: drop-shadow(0px 0px 0px #673ab7) brightness(1) saturate(1);
  }
  50% {
    -webkit-filter: drop-shadow(0px 0px 5px #673ab7) brightness(2) saturate(1.25);
  }
  100% {
    -webkit-filter: drop-shadow(0px 0px 0px #673ab7) brightness(1) saturate(1);
  }
}
.item span.itemCount {
  position: absolute;
}
.item span.itemCount {
  bottom: -10px;
  right: 0;
  font-size: 10px;
  color: white;
}
.item .craftingProgressIndicator {
  position: absolute;
  background-color: #5e35b1;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 0;
  border-radius: 0.3rem;
}

.itemTooltipImg {
  width: 1rem;
  height: 1rem;
  vertical-align: middle;
}

.statBarContainer {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 6rem;
}
.statBarContainer .statBar {
  width: 10rem;
  height: calc(1rem + (1px * 2));
  display: inline-block;
  border-radius: calc(calc(1rem + (1px * 2)) / 2);
  border: 1px solid;
  background-color: rgba(33, 33, 33, 0.8);
  margin: 0 0.5rem;
}
.statBarContainer .statBar.hideStatBar {
  visibility: hidden;
}
.statBarContainer .statBar .innerBar {
  height: 1rem;
  border-radius: 0.5rem;
  -webkit-transition: width 1s ease-in-out;
  -moz-transition: width 1s ease-in-out;
  -o-transition: width 1s ease-in-out;
  transition: width 1s ease-in-out;
}
.statBarContainer .statBar .innerBar.flashStatBar {
  -webkit-animation: flash linear 1s infinite;
  animation: flash linear 1s infinite;
}
.statBarContainer #healthBar.statBar {
  border-color: #43A047;
}
.statBarContainer #healthBar.statBar .innerBar {
  background-color: #43A047;
}
.statBarContainer #warmthBar.statBar {
  border-color: #ffb300;
}
.statBarContainer #warmthBar.statBar .innerBar {
  background-color: #ffb300;
}
.statBarContainer #hungerBar.statBar {
  border-color: #E53935;
}
.statBarContainer #hungerBar.statBar .innerBar {
  background-color: #E53935;
}

@-webkit-keyframes flash {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes flash {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}
#notificationMsg {
  font-size: 4rem;
  line-height: 4rem;
  position: absolute;
  top: 3rem;
  left: 50%;
  transform: translateX(-50%);
  display: none;
  color: rgba(33, 33, 33, 0.8);
}

/*# sourceMappingURL=style.css.map */
