/*
sass ~/mnt/ebs1/git/hunker/public/sass/style.scss ~/mnt/ebs1/git/hunker/public/sass/style.css
 *
 * Use this command to generate the css from the terminal.
 */
@import "../ext/sass/components/color-variables";
@import "../ext/sass/components/variables";
@import "../ext/sass/components/global";

$titleFont:                    'Cinzel', Roboto, RobotoDraft, Open Sans, arial, helvetica, sans-serif !important;
$mainFont:                     'Germania One', Roboto, RobotoDraft, Open Sans, arial, helvetica, sans-serif !important;
$uiBgColor:                    transparentize(color('grey', 'darken-4'), 0.2);
$minimapWidthHeightPx:         calc(150px + 2rem);
$leaderboardWidthRem:          20rem;
$gridBorderColor:              color('grey', 'lighten-2');
$itemPaddingRem:               0.65rem;
$itemWidthHeightRem:           3rem;
$itemMarginRem:                0.5rem;
$hotbarContainerWidthRem:      (($itemWidthHeightRem + ($itemMarginRem * 2)) * 9);
$hotbarContainerLeftRight:     calc((100% - #{$hotbarContainerWidthRem}) / 2);

@mixin ellipsis {
  white-space:   nowrap;
  overflow:      hidden;
  text-overflow: ellipsis;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing:    border-box;
  box-sizing:         border-box;
  font-family:        $mainFont;
}

// Uncomment for taking screenshots.
//div, span {
//  opacity: 0 !important;
//}

body {
  margin:      0;
  font-family: $mainFont;
  overflow:    hidden;
  color:       white;
}

h1 {
  text-align: center;
}

h1, h2, h3, h4 {
  @extend .no-select;
}

table {
  table-layout: fixed;
}

.modal:focus {
  outline-width: 0;
}

.input-field {
  .helper-text {
    margin: 0;
    color:  color('grey', 'base');
    @extend .no-select;
  }

  .progress {
    display:  none;
    position: absolute;
    margin:   0;
    top:      calc(3rem - 2px);
    left:     0;
    right:    0;
  }
}

$buttonBgColor:                #a3703a;

.btn {
  @extend .no-select;
  @extend .z-depth-0; // Disable shadow.
  background:   transparent !important;
  border:       1.5rem solid transparent;
  border-image: 33% fill url(../assets/ui/panel_woodDetail.png);
  line-height:  0;

  &.grey.darken-3:hover {
    // noinspection CssInvalidPropertyValue
    background-color: lighten(color('grey', 'darken-3'), 5%) !important;
  }
}

$modalWidthPx:                 27rem;
.modal {
  width:            $modalWidthPx;
  max-height:       none;
  background-color: transparent;
  border:           2rem solid transparent;
  border-image:     33% fill url(../assets/ui/panel_woodPaperDetail.png);
  color:            color('grey', 'darken-4');
  @extend .z-depth-0; // Disable shadow.

  &#joinGameModal {
    overflow: visible;

    #nameInput {
      font-size: 1.5rem;
    }

    #playerImageChooser {
      float: right;
    }

    h1 {
      font-size:     5rem;
      background:    linear-gradient(-150deg, color('purple', 'accent-2') 0%, color('purple', 'darken-4') 97%);
      color:         white;
      margin:        calc(-1rem - 1px) calc(-1rem - 1px) 2rem calc(-1rem - 1px);
      padding:       2rem;
      border-radius: 0.5rem;
    }

    .modalBanner {
      position: absolute;
      left:     -2rem;
      bottom:   -1.35rem;
      width:    $modalWidthPx;
      color:    white;

      .bannerImg {
        position: absolute;
        top:      0;
        left:     0;
        width:    $modalWidthPx;
      }

      .bannerText {
        position:   absolute;
        top:        2.15rem;
        font-size:  1.5rem;
        left:       0;
        right:      0;
        text-align: center;
      }
    }

    #accountPanel {
      position:         absolute;
      top:              0;
      bottom:           0;
      left:             calc(#{$modalWidthPx} + 3rem);
      width:            300px;
      border:           2rem solid transparent;
      border-image:     33% fill url(../assets/ui/panel_woodPaperDetail.png);
      background-color: transparent;


      .input-field input {
        font-size: 1.3rem;
      }

      #registerBtn {
        width:        calc(50% - 0.5rem);
        margin-right: 0.5rem;
      }

      #loginBtn {
        width:       calc(50% - 0.5rem);
        margin-left: 0.5rem;
        float:       right;
      }

      #loginSuccessScreen {
        display: none;
      }
    }
  }

  &#changePlayerImageModal {
    font-size: 0;
    top:       calc(10% + (#{$modalWidthPx} - ((4 * (#{$button-floating-large-size} + (2 * 0.5rem))) + 1rem)) / 2) !important;
    width:     calc((4 * (#{$button-floating-large-size} + (2 * 0.5rem))) + 1rem);

    .modal-content {
      padding: 0.5rem;

      .playerImageBtn {
        margin: 0.5rem;
      }
    }
  }

  &#changeGameModeModal, &#changeDifficultyModal {
    font-size: 0;
    top:       calc(10% + (#{$modalWidthPx} - ((4 * (#{$button-floating-large-size} + (2 * 0.5rem))) + 1rem)) / 2) !important;
    width:     calc((4 * (#{$button-floating-large-size} + (2 * 0.5rem))) + 1rem);

    .modal-content {
      padding: 0.5rem;

      .collection {
        border-radius: $button-radius;

        .collection-item {
          cursor: pointer;

          &.active {
            background:    linear-gradient(-150deg, color('purple', 'accent-2') 0%, color('purple', 'darken-4') 97%) !important;
            border-radius: $button-radius;
          }

          &:hover {
            background: color('grey', 'lighten-4');
          }

          .smallText {
            font-size: 0.8rem !important;
            color:     color('grey', 'lighten-1');
          }
        }
      }
    }
  }

  &#disconnectedModal h3 {
    text-align: center;
  }

  &#playerDiedGameModal {
    width: 32rem;

    p {
      font-family: $titleFont;
      text-align:  center;
      font-size:   2rem;
      @extend .no-select;

      #playerHelperText {
        text-align:  center;
        font-weight: 600;
      }

      span {
        font-family: $titleFont;
      }
    }
  }

  &#inventoryModal {
    top:       50% !important;
    transform: translateY(-50%) !important;
    width:     (($itemWidthHeightRem + 1rem) * 9) + 4rem + 1rem;
    overflow:  visible;

    .modal-content {
      padding:  0.5rem;
      overflow: visible;
      position: relative;

      .itemRowDividers {
        text-align: center;

        .expandCollapseCraftingButton {
          position:      absolute;
          margin-top:    -21px;
          background:    #fef2d3;
          transform:     translateX(-50%);
          padding:       0.6rem 0.8rem;
          display:       inline-block;
          font-size:     0;
          cursor:        pointer;
          border-radius: 0.3rem;
          z-index:       1;

          img {
            height: 10px;
          }
        }
      }

      .itemRow {
        text-align: center;

        &[data-item-row-type="crafting"] {
          overflow-x:   hidden;
          overflow-y:   auto;
          text-align:   left;
          max-width:    calc(((#{$itemWidthHeightRem} + 1rem) * 9) + 1rem + 17px);
          margin-right: -17px;
          max-height:   (($itemWidthHeightRem + 1rem) * 2);

          .itemRowDividers {
            display: none;
          }

          &.expandedCrafting {
            position:         absolute;
            background-color: #FFF1D2;
            max-height:       unset;
            top:              0;
            bottom:           0;
            z-index:          2;

            .itemRowDividers {
              position: fixed;
              z-index:  1;
              bottom:   -9px;
              display:  block;
              left:     0;
              right:    0;
            }
          }
        }
      }
    }
  }

  .modal-content {
    overflow: hidden;
    padding:  1rem;

    .row {
      margin-bottom: 2rem;

      .input-field {
        margin:  0;
        padding: 0;
      }
    }

    p, li {
      font-size: 1.2rem;
    }

    .btn-large:not(.btn-floating) {
      $heightRem:  4rem;
      width:       100%;
      height:      $heightRem;
      line-height: 1.25rem;
      font-size:   2rem;
      @extend .no-select;
      @extend .z-depth-0; // Disable shadow.
      transition:  all .3s ease-in-out;

      &:hover {
        transition: all .1s ease-in-out;
        $scalePcnt: 1.03;
        width:      calc(#{$scalePcnt} * 100%);
        height:     $heightRem * $scalePcnt;
        margin:     -($heightRem * ($scalePcnt - 1) / 2) calc((#{$scalePcnt} - 1) * 100% / 2 * -1);
        font-size:  2rem * $scalePcnt;
      }
    }
  }
}

.playerImageBtn {
  background-color: transparent !important;
  background-image: url(../assets/ui/round_woodPaperWear.png);
  background-size:  contain;
  @extend .z-depth-0; // Disable shadow.

  img {
    margin-top: 25%;
    height:     50%;
    transform:  rotate(45deg);
  }

  #selectedPlayerImage {
    position:   absolute;
    top:        0;
    width:      100%;
    text-align: center;
    font-size:  3rem;
    color:      lightgrey;
  }
}

.ui-tooltip {
  z-index:            2000;
  font-size:          1rem;
  border-radius:      $button-radius;
  padding:            0.5rem 0.75rem;
  min-height:         2rem;
  line-height:        1.5rem;
  max-width:          calc(100% - 4px);
  overflow:           hidden;
  pointer-events:     none;
  background-color:   $uiBgColor;
  font-family:        $mainFont;
  -webkit-box-shadow: none;
  -moz-box-shadow:    none;
  box-shadow:         none;
  border:             none !important;
  text-align:         left;
  color:              color('grey', 'lighten-4');

  b {
    color: #FFFFFF;
  }

  i {
    font-family: monospace;
    font-size:   0.75rem;
    line-height: 1rem;
    color:       color('grey', 'base');
  }
}

html.ghostGrayscale {
  filter: grayscale(85%);
}

// noinspection CssOverwrittenProperties
#loadingBackground {
  background-size:  cover;
  position:         absolute;
  z-index:          2;
  width:            100%;
  height:           100%;
  background-image: url(/public/assets/backgrounds/1.png); // Preload all these images.
  background-image: url(/public/assets/backgrounds/2.png);
  background-image: url(/public/assets/backgrounds/3.png);
  background-image: url(/public/assets/backgrounds/4.png);
  background-image: url(/public/assets/backgrounds/5.png);
  background-image: none;
}

$dayNightIndicatorWidthHeight: 3rem;

#dayNightIndicatorContainer {
  position: absolute;
  top:      $itemWidthHeightRem + 1rem + 1.25rem;
  right:    $leaderboardWidthRem + 2rem;
  width:    $dayNightIndicatorWidthHeight;
  height:   $dayNightIndicatorWidthHeight;
  display:  inline-block;
}

#dayIndicatorImg, #nightIndicatorImg {
  position:                 absolute;
  z-index:                  2;
  $indicatorImgWidthHeight: 2rem;
  top:                      ($dayNightIndicatorWidthHeight - $indicatorImgWidthHeight) / 2;
  left:                     ($dayNightIndicatorWidthHeight - $indicatorImgWidthHeight) / 2;
  width:                    $indicatorImgWidthHeight;
  height:                   $indicatorImgWidthHeight;
  border-radius:            50%;
}

.rotate {
  animation: rotation 3s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

#pauseGameBtn {
  position: absolute;
  top:      0.5rem;
  right:    $leaderboardWidthRem + 1.5rem;
}

#heldSpriteAdjuster {
  position:     absolute;
  right:        0;
  bottom:       0;
  width:        265px;
  height:       265px;
  display:      block;
  border:       1.5rem solid transparent;
  border-image: 33% fill url(../assets/ui/panel_woodPaperDetail.png);
  color:        color('grey', 'darken-4');

  td {
    padding: 0;
  }
}

.playerGameModeLink, .playerDifficultyLink {
  font-size: 0.9rem;
  width:     50%;
  cursor:    pointer;
  color:     color('grey', 'darken-3');
  @extend .no-select;

  &:hover {
    .playerGameModeText, .playerDifficultyText {
      text-decoration: underline;
    }
  }
}

.playerGameModeLink {
  float: left;
}

.playerDifficultyLink {
  float:      right;
  text-align: right;
}

.chooserLinkChevron {
  vertical-align: 0.2rem;
}

.flex {
  animation: flex 1s ease 0s infinite;
}

@keyframes flex {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(3);
  }
}

@keyframes pulse {
  0% {
    opacity:   1;
    transform: scale(1);
  }
  80% {
    opacity:   0;
    transform: scale(2);
  }
  100% {
    opacity:   0;
    transform: scale(3);
  }
}

html {
  transition: filter 2s ease;
}

@import "leaderboard";
@import "chat";
@import "minimap";
@import "hotbar";
@import "statBar";
@import "notificationMsg";
