<head>
 <title>Hunker</title>

 <link rel="apple-touch-icon" sizes="120x120" href="/public/favicon/apple-touch-icon.png">
 <link rel="icon" type="image/png" sizes="32x32" href="/public/favicon/favicon-32x32.png">
 <link rel="icon" type="image/png" sizes="16x16" href="/public/favicon/favicon-16x16.png">
 <link rel="manifest" href="/public/favicon/site.webmanifest">
 <link rel="mask-icon" href="/public/favicon/safari-pinned-tab.svg" color="#673ab7">
 <meta name="msapplication-TileColor" content="#673ab7">
 <meta name="theme-color" content="#ffffff">

 <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto">
 <link rel="stylesheet" type="text/css" href="/public/ext/sass/materialize.css" media="screen,projection"/>
 <link rel="stylesheet" type="text/css" href="/public/ext/sass/jquery-ui.css">
 <link rel="stylesheet" type="text/css" href="/public/sass/style.css" media="screen,projection"/>

 <link href="https://fonts.googleapis.com/css?family=Germania+One" rel="stylesheet">
 <link href="https://fonts.googleapis.com/css?family=Cinzel" rel="stylesheet">

 <script src="/public/ext/js/jquery-3.3.1.min.js"></script>
 <script src="/public/ext/js/materialize.min.js"></script>
 <script type="text/javascript" src="/public/ext/js/jquery-ui.min.js"></script>
 <!--suppress HtmlUnknownTarget -->
 <script src="/socket.io/socket.io.js"></script>
 <script src="/node_modules/phaser/dist/phaser.min.js"></script>
 <script src="/node_modules/phaser/dist/phaser.min.js"></script>
 <script src="/public/ext/js/jquery.knob.min.js"></script>

 <script src="/dist/public/generated/Items.js"></script>
 <script src="/dist/public/DayNightCycleClient.js"></script>
 <script src="/dist/public/LightCircle.js"></script>
 <script src="/dist/public/WorldClient.js"></script>
 <script src="/dist/Utils.js"></script>
 <script src="/dist/public/Globals.js"></script>
 <script src="/dist/public/UtilsClient.js"></script>
 <script src="/dist/public/Modals.js"></script>
 <script src="/dist/public/SoundEffect.js"></script>
 <script src="/dist/public/ParticleEffect.js"></script>
 <script src="/dist/public/PlayerClient.js"></script>
 <script src="/dist/public/EntityClient.js"></script>
 <script src="/dist/public/Leaderboard.js"></script>
 <script src="/dist/Chat.js"></script>
 <script src="/dist/public/ChatClient.js"></script>
 <script src="/dist/public/Crafting.js"></script>
 <script src="/dist/public/InventoryModal.js"></script>
 <script src="/dist/public/Minimap.js"></script>
 <script src="/dist/public/TimeSpent.js"></script>
 <script src="/dist/public/HotbarClient.js"></script>
 <script src="/dist/public/StatBar.js"></script>
 <script src="/dist/public/NotificationMsg.js"></script>
 <script src="/dist/public/game.js"></script>
</head>
<body>
 <!-- --------------------------------------------------  Join modal  -------------------------------------------------- -->
 <div id="joinGameModal" class="modal">
  <div class="modal-content">
   <h1>Hunker</h1>

   <div class="row">
    <div class="input-field col s9">
     <div id="nameInputContainer">
      <div class="progress">
       <div class="indeterminate"></div>
      </div>
      <input id="nameInput" type="text" tabindex="1" autofocus maxlength="15" placeholder="Name" autocomplete="off" autocapitalize="off" spellcheck="false">
      <span class="helper-text" data-error=""></span>
     </div>
    </div>
    <div class="input-field col s3">
     <a id="playerImageChooser" tabindex="2" class="btn-floating btn-large waves-effect playerImageBtn" onclick="Modals.allModalObjs['changePlayerImage'].open();"><img src="/public/assets/player/manBrown.png" alt="manBrown"></a>
    </div>
   </div>

   <a id="joinGameBtn" class="btn btn-large" tabindex="3">Play</a>

   <br>
   <br>

   <div class="playerGameModeLink">Game mode: <span class="playerGameModeText"></span> <span class="chooserLinkChevron">⌄</span></div>
   <div class="playerDifficultyLink">Difficulty: <span class="playerDifficultyText"></span> <span class="chooserLinkChevron">⌄</span></div>
  </div>

  <!--  <div class="modalBanner">-->
  <!--   <img class="bannerImg" src="/public/assets/ui/bannerHanging.png" alt="Banner">-->
  <!--   <div class="bannerText">&#x1F384; &nbsp; Merry Christmas! &nbsp; &#x1F384;</div>-->
  <!--  </div>-->

  <!-- --------------------------------------------------  Account panel  -------------------------------------------------- -->
  <div id="accountPanel" class="modal-content">
   <div id="loginScreen">
    <h4>Account</h4>

    <div class="row">
     <div class="input-field col s12">
      <div id="userNameInputContainer">
       <div class="progress">
        <div class="indeterminate"></div>
       </div>
       <input id="userNameInput" type="text" tabindex="4" autofocus maxlength="15" placeholder="Username" autocomplete="off" autocapitalize="off" spellcheck="false">
       <span class="helper-text" data-error=""></span>
      </div>
     </div>
     <div class="input-field col s12">
      <div id="passwordCodeInputContainer">
       <div class="progress">
        <div class="indeterminate"></div>
       </div>
       <input id="passwordCodeInput" type="password" tabindex="5" autofocus maxlength="15" placeholder="Password" autocomplete="off" autocapitalize="off" spellcheck="false">
       <span class="helper-text" data-error=""></span>
      </div>
     </div>
    </div>

    <a id="registerBtn" class="btn" tabindex="6">Register</a>
    <a id="loginBtn" class="btn" tabindex="7">Login</a>
   </div>
   <div id="loginSuccessScreen">
    <h4>Logged in as <span id="loggedInAsUserName"></span></h4>
    <p>Your score: <span id="userScore"></span></p>
    <a id="logoutBtn" class="btn" tabindex="-1">Logout</a>
    <a id="deleteAccountBtn" class="btn grey darken-3" tabindex="-1">Delete account</a>
   </div>
  </div>
 </div>

 <!-- --------------------------------------------------  Player died modal  -------------------------------------------------- -->
 <div id="playerDiedGameModal" class="modal">
  <div class="modal-content">
   <h1 id="playerDiedText"></h1>
   <p>
    <span id="playerHelperText"></span>
    <br>
    You survived for <span id="daysSurvivedNum"></span> days
    <br>
    Your score is <span id="playerScore"></span>
   </p>
   <a id="playAgainGameBtn" class="btn btn-large" tabindex="2" onclick="Modals.closeAll();">Try again?</a>
  </div>
 </div>

 <!-- --------------------------------------------------  Change player image modal  -------------------------------------------------- -->
 <div id="changePlayerImageModal" class="modal">
  <div class="modal-content">
   <a class="btn-floating btn-large waves-effect playerImageBtn" data-id="manBrown"><img src="/public/assets/player/manBrown.png" alt="manBrown"></a>
   <a class="btn-floating btn-large waves-effect playerImageBtn" data-id="manBlue"><img src="/public/assets/player/manBlue.png" alt="manBlue"></a>
   <a class="btn-floating btn-large waves-effect playerImageBtn" data-id="womanGreen"><img src="/public/assets/player/womanGreen.png" alt="womanGreen"></a>
   <a class="btn-floating btn-large waves-effect playerImageBtn" data-id="hitman"><img src="/public/assets/player/hitman.png" alt="hitman"></a>
   <a class="btn-floating btn-large waves-effect playerImageBtn" data-id="manOld"><img src="/public/assets/player/manOld.png" alt="manOld"></a>
   <a class="btn-floating btn-large waves-effect playerImageBtn" data-id="robot"><img src="/public/assets/player/robot.png" alt="robot"></a>
   <a class="btn-floating btn-large waves-effect playerImageBtn" data-id="soldier"><img src="/public/assets/player/soldier.png" alt="soldier"></a>
   <a class="btn-floating btn-large waves-effect playerImageBtn" data-id="survivor"><img src="/public/assets/player/survivor.png" alt="survivor"></a>
  </div>
 </div>

 <!-- --------------------------------------------------  Change game mode modal  -------------------------------------------------- -->
 <div id="changeGameModeModal" class="modal">
  <div class="modal-content"></div>
 </div>

 <!-- --------------------------------------------------  Change difficulty modal  -------------------------------------------------- -->
 <div id="changeDifficultyModal" class="modal">
  <div class="modal-content"></div>
 </div>

 <!-- --------------------------------------------------  How to play modal  -------------------------------------------------- -->
 <div id="howToPlayModal" class="modal">
  <div class="modal-content">
   <h3>How to play</h3>
   <ol>
    <li>Hit a tree 15 times to get enough wood for a axe.</li>
    <li>Craft a axe by clicking in the top left.</li>
    <li>While it's crafting, try and find an apple bush.</li>
    <li>Once it's done, harvest some apples to refill your hunger.</li>
    <li>Get 15 wood and 5 stone with your axe to craft a campfire. Once it turns to night, place it down to refill your warmth bar.</li>
   </ol>
  </div>
 </div>

 <!-- --------------------------------------------------  Paused modal  -------------------------------------------------- -->
 <div id="gamePausedModal" class="modal">
  <div class="modal-content">
   <h1>Paused</h1>
   <a id="playGameBtn" class="btn btn-large" tabindex="2">Play</a>

   <br>
   <br>

   <div class="playerGameModeLink">Game mode: <span class="playerGameModeText"></span> <span class="chooserLinkChevron">⌄</span></div>
   <div class="playerDifficultyLink">Difficulty: <span class="playerDifficultyText"></span> <span class="chooserLinkChevron">⌄</span></div>
  </div>
 </div>

 <!-- --------------------------------------------------  Inventory modal  -------------------------------------------------- -->
 <div id="inventoryModal" class="modal">
  <div class="modal-content">
  </div>
 </div>

 <!-- --------------------------------------------------  Disconnected modal  -------------------------------------------------- -->
 <div id="disconnectedModal" class="modal">
  <div class="modal-content">
   <h3>Disconnected</h3>
   <br>
   <a class="btn btn-large" tabindex="2" onclick="window.location.reload();">Reload?</a>
  </div>
 </div>

 <div id="loadingBackground"></div>
</body>
