<head>
 <title>Noise map generator</title>

 <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto">
 <link rel="stylesheet" type="text/css" href="ext/sass/materialize.css" media="screen,projection"/>
 <link rel="stylesheet" type="text/css" href="sass/style.css" media="screen,projection"/>

 <script src="ext/js/jquery-3.3.1.min.js"></script>
 <script src="ext/js/materialize.min.js"></script>
 <script src="https://cdn.rawgit.com/jwagner/simplex-noise.js/87440528bcf8ec89840e974d8f76cfe3da548c37/simplex-noise.min.js"></script>
 <script src="../dist/public/generated/Items.js"></script>
 <script src="../dist/Utils.js"></script>
 <script src="../dist/public/Minimap.js"></script>
 <script src="../dist/public/DayNightCycleClient.js"></script>
 <script src="../dist/CaveGenerator.js"></script>
 <script src="../dist/MazeGenerator.js"></script>
 <script src="../dist/Dungeon.js"></script>
 <script src="../dist/public/WorldClient.js"></script>
 <script src="../dist/NoiseMap.js"></script>
 <script src="../dist/WorldServer.js"></script>

 <script>
     function setNoiseMap () {
         const cellWidth    = Minimap.bigMinimapWidthPx / UtilsClient.worldWidth;
         const cellHeight   = Minimap.bigMinimapHeightPx / UtilsClient.worldHeight;
         let minimapDivHtml = '';
         let noiseMap       = NoiseMap.generate(100, 1);
         for (let y = 0; y < noiseMap.length; y++) {
             for (let x = 0; x < noiseMap[y].length; x++) {
                 minimapDivHtml += "<div class=\"minimapDivCell\" title=\"" + noiseMap[y][x].toFixed(2) + "\" style=\"left: " + (x * cellWidth) + "px; top: " + (y * cellHeight) + "px; background-color: black; opacity: " + noiseMap[y][x].toFixed(2) + ";\"></div>";
             }
         }
         $('#bigMinimapModal .modal-content').html(minimapDivHtml);
     }

     $(function () {
         setNoiseMap();
     });

 </script>
 <style>

  #bigMinimapModal {
   position:  absolute;
   top:       0 !important;
   transform: none !important;
   width:     800px;
   height:    800px;
  }

  .modal-content {
   position:         absolute;
   width:            800px;
   height:           800px;
   background-color: white !important;
  }

 </style>
</head>
<body>
 <div id="bigMinimapModal">
  <div class="modal-content">
  </div>
 </div>
</body>
