<head>
 <title>World generator</title>

 <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto">
 <link rel="stylesheet" type="text/css" href="ext/sass/materialize.css" media="screen,projection"/>
 <link rel="stylesheet" type="text/css" href="sass/style.css" media="screen,projection"/>

 <script src="ext/js/jquery-3.3.1.min.js"></script>
 <script src="ext/js/materialize.min.js"></script>
 <!--suppress HtmlUnknownTarget -->
 <script src="/socket.io/socket.io.js"></script>
 <script src="../node_modules/simplex-noise/simplex-noise.js"></script>
 <script src="../dist/public/generated/Items.js"></script>
 <script src="../dist/Utils.js"></script>
 <script src="../dist/public/Globals.js"></script>
 <script src="../dist/public/UtilsClient.js"></script>
 <script src="../dist/public/Minimap.js"></script>
 <script src="../dist/Dungeon.js"></script>
 <script src="../dist/public/WorldClient.js"></script>
 <script src="../dist/public/Modals.js"></script>
 <script src="../dist/public/WorldPreview.js"></script>
 <script>
     Globals.socket = io();
     $(WorldPreview.init);
 </script>
 <!--suppress CssUnusedSymbol -->
 <style>
  #buttonsContainer {
   position: absolute;
   top:      calc(150px + 4rem);
  }

  #bigMinimapModal {
   top:       1rem !important;
   left:      20rem;
   margin:    0;
   position:  absolute;
   transform: none !important;
   border:    none;
  }

  .modal-overlay {
   display: none !important;
  }

  #worldSeed {
   color: #343434;
  }
 </style>
</head>
<body>
 <div id="buttonsContainer"></div>
</body>
