<head>
 <!-- http://localhost:7777/public/favicon/favicon_original.html -->
 <!-- Generate using https://realfavicongenerator.net/ -->
 <title>favicon_original.html</title>
 <link href="https://fonts.googleapis.com/css?family=Germania+One" rel="stylesheet">
 <style>
  body {
   /*zoom: 0.125;*/
   margin: 0;
  }

  #favIconTextContainer {
   position:         absolute;
   top:              0;
   width:            128px;
   height:           128px;
   text-align:       center;
   background-color: #673ab7;
  }

  #favIconText {
   color:       white;
   font-size:   128px;
   line-height: 128px;
   font-family: 'Germania One', Roboto, RobotoDraft, Open Sans, arial, helvetica, sans-serif !important;
  }
 </style>
</head>
<body>
 <div id="favIconTextContainer">
  <span id="favIconText">H</span>
 </div>
</body>
